
.icon-cog-alt:before { content: '\e800'; } /* '' */
.icon-suitcase:before { content: '\e801'; } /* '' */
.icon-circle:before { content: '\e802'; } /* '' */
.icon-list:before { content: '\e803'; } /* '' */